.dt
  height: 400px

.dt-header
  font-weight: bold
  border-bottom: 1px solid #EEE

.dt-header-cell, .dt-cell
  padding: 0.5rem 1rem
  border-right: 1px solid #EEE

.dt-row
  border-top: 1px solid #EEE

.scoreboard-check
  color: #74af00

.col-scoreboard-challenge
  text-align: center
