.login-page, .register-page
  height: 100%
  background: #6e82a5 url(bg/1.jpg) center center
  background-size: cover

.login-logo, .register-logo
  a, a:visited, a:hover
    color: #FFF
    text-shadow: 0 1px 4px rgba(#000, 0.5)

.login-box-body, .register-box-body
  box-shadow: 0 5px 10px rgba(#000, 0.2)
