<div class="form-group">
  <label class="control-label">{{ 'ui.page.manage.challenge.edit.basic.name' | translate }}</label>
  <div>
    <input type="text" class="form-control" ng-model="ctrl.challenge.name" ng-disabled="ctrl.basicFormDisabled">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">{{ 'ui.page.manage.challenge.edit.basic.category' | translate }}</label>
      <div>
        <input type="text" class="form-control" ng-model="ctrl.challenge.category" ng-disabled="ctrl.basicFormDisabled">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">{{ 'ui.page.manage.challenge.edit.basic.difficulty' | translate }}</label>
      <div>
        <input type="number" class="form-control" ng-model="ctrl.challenge.difficulty" ng-disabled="ctrl.basicFormDisabled">
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="control-label">{{ 'ui.page.manage.challenge.edit.basic.description' | translate }}</label>
  <textarea class="form-control" rows="5" ng-model="ctrl.challenge.description" ng-disabled="ctrl.basicFormDisabled"></textarea>
</div>
