<div class="form-group">
  <label class="control-label">{{ 'ui.page.manage.contest.edit.basic.name' | translate }}</label>
  <div>
    <input type="text" class="form-control" ng-model="ctrl.contest.name" ng-disabled="ctrl.basicFormDisabled">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">{{ 'ui.page.manage.contest.edit.basic.regBegin' | translate }}</label>
      <div class="input-group date">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input type="text" date-time format="yyyy-MM-dd HH:mm" class="form-control" ng-model="ctrl.contest.regBegin" ng-disabled="ctrl.basicFormDisabled">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">{{ 'ui.page.manage.contest.edit.basic.regEnd' | translate }}</label>
      <div class="input-group date">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input type="text" date-time format="yyyy-MM-dd HH:mm" class="form-control" ng-model="ctrl.contest.regEnd" ng-disabled="ctrl.basicFormDisabled">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">{{ 'ui.page.manage.contest.edit.basic.begin' | translate }}</label>
      <div class="input-group date">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input type="text" date-time format="yyyy-MM-dd HH:mm" class="form-control" ng-model="ctrl.contest.begin" ng-disabled="ctrl.basicFormDisabled">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">{{ 'ui.page.manage.contest.edit.basic.end' | translate }}</label>
      <div class="input-group date">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input type="text" date-time format="yyyy-MM-dd HH:mm" class="form-control" ng-model="ctrl.contest.end" ng-disabled="ctrl.basicFormDisabled">
      </div>
    </div>
  </div>
</div>
